body{
    margin: 0px;
    background: #FFFAF0;
}
.box-parent-boletim{
    height: 10em;
    
}
table{
    border-collapse: collapse;
    margin: 0;
    position: relative;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 1px 1px 5px #ccc;
}
.table-parent-head{
    border-style: solid;
    min-width: 240px;
    
}
table th{
    border-style: solid;
    min-width: 240px;
    height: 8px;
}
table td{
    border-style: solid;
    min-width: 120px;
    height: 8px;
    text-align: center;
}
.head-box{
    border-style: solid;
    line-height: 200%;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 5px #ccc;
}
